<div class="sea-battle">
    <input type="text"
    >
    <button (click)="onDamage('б3')">Send</button>

    <div>
        <div class="d-flex">
            <div *ngFor="let header of battleHeader">
                <div class="abc">
                    <div class="unit-container">{{header}}</div>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div>
                <div *ngFor="let row of battleField; let i = index">
                    <div class="abc">
                        <div class="unit-container">{{i + 1}}</div>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr *ngFor="let row of battleField; track">
                    <td class="cell" *ngFor="let cell of row">
                        <div class="unit-container cell__unit"
                            [ngClass]="{'cell__unit_no-back': cell.health <= 0}"
                            (click)="onClickCell(cell)">
                            <span *ngIf="cell.health > 0">
                                {{cell.health}}
                            </span>
                            <unit-container *ngIf="cell.health <= 0"
                                [unitType]="cell.type" 
                                [unitValue]="cell.value">
                            </unit-container>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>