<div class="choose-unit-dialog">
    <h2 mat-dialog-title>Выбор</h2>
    <mat-dialog-content>
        <div class="d-flex all-items">
            <div class="item-container" (click)="chooseItem('IncreaseTime')">
                <div class="unit-title">Увеличить время</div>
                <unit-container
                    [ngClass]="{'selected-item': unit.type === 'IncreaseTime'}"
                    [unitType]="'IncreaseTime'" 
                    [unitValue]="unit.value"
                    [isEdit]="true">
                </unit-container>
            </div>

            <div class="item-container" (click)="chooseItem('ReduceTime')">
                <div class="unit-title">Уменьшить время</div>
                <unit-container
                    [ngClass]="{'selected-item': unit.type === 'ReduceTime'}"
                    [unitType]="'ReduceTime'" 
                    [unitValue]="unit.value"
                    [isEdit]="true">
                </unit-container>
            </div>

            <div class="item-container" (click)="chooseItem('Text')">
                <div class="unit-title">Любой текст</div>
                <unit-container
                    [ngClass]="{'selected-item': unit.type === 'Text'}"
                    [unitType]="'Text'" 
                    [unitValue]="'Текст'"
                    [isEdit]="true">
                </unit-container>
            </div>

            <div class="item-container" (click)="chooseItem('')">
                <div class="unit-title">Пустой элемент</div>
                <unit-container
                    [ngClass]="{'selected-item': unit.type === ''}"
                    [unitType]="''"
                    [unitValue]="''"
                    [isEdit]="true">
                </unit-container>
            </div>

            <div class="item-container" (click)="chooseItem('Image')">
                <div class="unit-title">Картинка</div>
                <unit-container
                    [ngClass]="{'selected-item': unit.type === 'Image'}"
                    [unitType]="'Image'"
                    [unitValue]="unit.value"
                    [isEdit]="true">
                </unit-container>
            </div>
        </div>

        <div *ngIf="unit.type === 'Text'">
            <mat-form-field class="full-width">
                <span>Вставьте в текст <b>(username)</b> и оно заменится на имя задонатившего при показе сообщения</span>
                <textarea
                    matInput
                    [(ngModel)]="unit.value"
                    rows="3"
                    type="text">
                </textarea>
            </mat-form-field>
        </div>

        <div class="file-uploader" *ngIf="unit.type === 'Image'">
            <span>Выберите картинку размером не более 100 КБ.</span>
            <file-upload accept="image/png, image/jpeg" (load)="unitImageLoaded($event)"></file-upload>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="actions-block">
        <button mat-raised-button color="primary" (click)="confirmChoose()" cdkFocusInitial>Ok</button>
        <button mat-raised-button [mat-dialog-close]="" cdkFocusInitial>Отмена</button>
    </mat-dialog-actions>
</div>