.choose-unit-dialog {
    .all-items {
        justify-content: space-evenly;
    }

    .selected-item {
        background-color: #d7d7d7;
    }

    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    .actions-block {
        justify-content: end;
        margin-top: 20px;
    }

    textarea {
        margin-top: 10px;
        width: 100%;
        resize: none;
        font-family: inherit;
    }

    unit-container {
        border: 1px solid;
    }
}