<div class="sea-battle-settings">
    <h2>Настройки виджета</h2>

    <div class="d-flex">
        <sea-battle 
            [isEditMode]="true" 
            [backgroundImage]="widgetSettings.backgroundImage"
            [battleField]="widgetSettings.fieldData">
        </sea-battle>
        <div class="donate-settings">
            <div class="donate-settings__label">Настройка интеграции с донатами</div>
            <label for="donatePayWidgerUrl">Ссылка на виджет DonatePay:</label>
            <input id="donatePayWidgerUrl" type="text" [(ngModel)]="widgetSettings.donatePayWidgerUrl">
            <a class="donate-settings__ref" href="https://donatepay.ru/donation/notifications" target="_blank">Находится по этой ссылке https://donatepay.ru/donation/notifications</a>
        </div>
    </div>

    <!-- <button mat-raised-button color="primary" (click)="fillRandom()">
        Сгенерировать поле
    </button> -->

    <div class="d-flex buttons-width">
        <div class="file-uploader">
            <span>Картинка заднего плана</span>
            <file-upload accept="image/png, image/jpeg" (load)="backgroundLoaded($event)"></file-upload>
        </div>
        <div class="resort-button">
            <button mat-raised-button color="primary" (click)="resort()">
                Перемешать
            </button>
        </div>
        <div class="resort-button">
            <button mat-raised-button color="primary" (click)="saveSettings()" [disabled]="saveButtonDisabled">
                Сохранить
            </button>
        </div>
    </div>
</div>