.sea-battle-settings {
    .buttons-width {
        margin: 5px 0;
        max-width: 530px;
    }

    .resort-button {
        display: flex;
        align-items: flex-end;
        margin-left: 10px;
    }

    .donate-settings {
        margin: 0 0 0 30px;

        &__label {
            margin-bottom: 15px;
            font-weight: 600;
        }

        &__ref {
            display: block;
            font-size: 12px;
        } 

        &__widget {
            margin-top: 15px;

            &_ref {
                display: block;
                font-size: 12px;
            }
        }

        #donatePayWidgetUrl {
            margin: 0 0 0 10px;
            width: 400px;
        }
    }

    .save-message {
        color: rgb(139, 0, 0);
    }
}